body,
p,
h1,
h2 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border-collapse: 0;
}
body {
  margin-top: 50px;
}
/* 导航 */
.navbar-default {
  background-color: #fff;
  margin-bottom: 20px;
}
.navbar-default .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #40D2B1;
}
.navbar-collapse .glyphicon {
  margin-right: 10px;
}
.navbar-default .navbar-toggle:hover {
  background-color: #40D2B1;
}
#content .progress {
  margin-bottom: 20px;
}
.media img {
  width: 64px;
  height: 64px;
}
footer {
  text-align: center;
}
